<div th:fragment="commands_header" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="language">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section_title text-center">Сommands and hotkeys</h2>
        <div class="language_slider_container">

          <div class="owl-carousel owl-theme language_slider">

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/laptop.svg" alt=""></div>
                <div class="lang_name">Laptop</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/bash.svg" alt=""></div>
                <div class="lang_name">Bash</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/powershell.svg" alt=""></div>
                <div class="lang_name">Power Shell</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/git_bash.svg" alt=""></div>
                <div class="lang_name">Git</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/postgresql.svg" alt=""></div>
                <div class="lang_name">PostgreSQL</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/mysql.svg" alt=""></div>
                <div class="lang_name">MySQL</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/docker.svg" alt=""></div>
                <div class="lang_name">Docker</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/k8s.svg" alt=""></div>
                <div class="lang_name">K8S</div>
              </a>
            </div>

            <div class="owl-item language_item">
              <a href="#">
                <div class="flag"><img src="/images/intellij.svg" alt=""></div>
                <div class="lang_name">IntelliJ IDEA</div>
              </a>
            </div>

          </div>

          <div class="lang_nav lang_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
          <div class="lang_nav lang_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
