<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
<header class="header">
    <div class="top_bar">
        <!-- Social -->
        <div class="top_bar_social">
            <span class="top_bar_title social_title">подписаться</span>
            <ul>
                <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>


    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container mr-auto">
                            <a href="/">
                                <div class="logo_text">ITHub</div>
                            </a>
                        </div>
                        <nav class="main_nav_contaner">
                            <ul class="main_nav">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/roadmap">Путь</a></li>
                                <li><a href="/guide">Инструкции</a></li>
                                <li><a href="/commands">Команды</a></li>
                                <li><a href="/errors">Ошибки</a></li>
                                <li><a href="/contact">Контакты</a>
                            </ul>
                        </nav>
                        <div class="header_content_right ml-auto text-right d-flex flex-row">
                            <!-- Кнопка "Войти" -->
                            <a href="/login" class="btn btn-secondary mr-2">Войти</a>
                            <!-- Кнопка "Зарегистрироваться" -->
                            <a href="/register" class="btn btn-primary">Зарегистрироваться</a>
                            <!-- Отступ между кнопками -->
                            <div style="margin-right: 10px;"></div>
                            <!-- Кнопка "Hamburger" для мобильного меню -->
                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </div>
<!--                        <div class="header_content_right ml-auto text-right">-->
<!--&lt;!&ndash;                            <div class="header_search">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="search_form_container">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <form action="#" id="search_form" class="search_form trans_400">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="search" class="header_search_input trans_400" placeholder="Type for Search" required="required">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="search_button">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fa fa-search" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                            &lt;!&ndash; Hamburger &ndash;&gt;-->

<!--                            <div class="user"><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></div>-->
<!--                            <div class="hamburger menu_mm">-->
<!--                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
<!--    <div class="search">-->
<!--        <form action="#" class="header_search_form menu_mm">-->
<!--            <input type="search" class="search_input menu_mm" placeholder="Search" required="required">-->
<!--            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">-->
<!--                <i class="fa fa-search menu_mm" aria-hidden="true"></i>-->
<!--            </button>-->
<!--        </form>-->
<!--    </div>-->
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="/">Главная</a></li>
            <li class="menu_mm"><a href="/roadmap">Путь</a></li>
            <li class="menu_mm"><a href="/guide">Инструкции</a></li>
            <li class="menu_mm"><a href="/commands">Команды</a></li>
            <li class="menu_mm"><a href="/errors">Ошибки</a></li>
            <li class="menu_mm"><a href="/contact">Контакты</a></li>
        </ul>
    </nav>
</div>

</div>